# Generated by scripts/generate-openapi.mjs. Do not edit by hand.
openapi: 3.1.0
info:
  title: SMIRK API
  version: "1.0.0"
  description: Route inventory generated from concrete Express route declarations in server.ts and src/team-routes.ts. Middleware app.use declarations are excluded from paths.
servers:
  - url: https://smirkcalls.com
    description: Production
  - url: http://localhost:3000
    description: Local development
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
    WorkspaceBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Workspace session or invite token
    ProvisioningBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Provisioning token
paths:
  "/api/admin/cleanup-smoke-workspaces":
    post:
      operationId: "POST_api_admin_cleanup_smoke_workspaces"
      tags:
        - "admin"
      summary: "POST /api/admin/cleanup-smoke-workspaces"
      x-source: "src/routes/admin-maintenance-routes.ts:346"
      x-express-path: "/api/admin/cleanup-smoke-workspaces"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/admin/db-check":
    get:
      operationId: "GET_api_admin_db_check"
      tags:
        - "admin"
      summary: "GET /api/admin/db-check"
      x-source: "src/routes/admin-maintenance-routes.ts:82"
      x-express-path: "/api/admin/db-check"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/admin/reset-monthly-usage":
    post:
      operationId: "POST_api_admin_reset_monthly_usage"
      tags:
        - "admin"
      summary: "POST /api/admin/reset-monthly-usage"
      x-source: "src/routes/admin-maintenance-routes.ts:335"
      x-express-path: "/api/admin/reset-monthly-usage"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/admin/run-migrations":
    post:
      operationId: "POST_api_admin_run_migrations"
      tags:
        - "admin"
      summary: "POST /api/admin/run-migrations"
      x-source: "src/routes/admin-maintenance-routes.ts:34"
      x-express-path: "/api/admin/run-migrations"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/admin/webhook-buffer-lag":
    get:
      operationId: "GET_api_admin_webhook_buffer_lag"
      tags:
        - "admin"
      summary: "GET /api/admin/webhook-buffer-lag"
      x-source: "src/routes/admin-maintenance-routes.ts:93"
      x-express-path: "/api/admin/webhook-buffer-lag"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/admin/webhook-buffer-replay":
    post:
      operationId: "POST_api_admin_webhook_buffer_replay"
      tags:
        - "admin"
      summary: "POST /api/admin/webhook-buffer-replay"
      x-source: "src/routes/admin-maintenance-routes.ts:165"
      x-express-path: "/api/admin/webhook-buffer-replay"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/agent/identity":
    get:
      operationId: "GET_api_agent_identity"
      tags:
        - "agent"
      summary: "GET /api/agent/identity"
      x-source: "src/routes/settings-routes.ts:80"
      x-express-path: "/api/agent/identity"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
    post:
      operationId: "POST_api_agent_identity"
      tags:
        - "agent"
      summary: "POST /api/agent/identity"
      x-source: "src/routes/settings-routes.ts:88"
      x-express-path: "/api/agent/identity"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/agents":
    get:
      operationId: "GET_api_agents"
      tags:
        - "agents"
      summary: "GET /api/agents"
      x-source: "src/routes/agent-routes.ts:23"
      x-express-path: "/api/agents"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
    post:
      operationId: "POST_api_agents"
      tags:
        - "agents"
      summary: "POST /api/agents"
      x-source: "src/routes/agent-routes.ts:30"
      x-express-path: "/api/agents"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/agents/{id}":
    delete:
      operationId: "DELETE_api_agents_id"
      tags:
        - "agents"
      summary: "DELETE /api/agents/:id"
      x-source: "src/routes/agent-routes.ts:76"
      x-express-path: "/api/agents/:id"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
    get:
      operationId: "GET_api_agents_id"
      tags:
        - "agents"
      summary: "GET /api/agents/:id"
      x-source: "src/routes/agent-routes.ts:92"
      x-express-path: "/api/agents/:id"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
    patch:
      operationId: "PATCH_api_agents_id"
      tags:
        - "agents"
      summary: "PATCH /api/agents/:id"
      x-source: "src/routes/agent-routes.ts:101"
      x-express-path: "/api/agents/:id"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
    put:
      operationId: "PUT_api_agents_id"
      tags:
        - "agents"
      summary: "PUT /api/agents/:id"
      x-source: "src/routes/agent-routes.ts:53"
      x-express-path: "/api/agents/:id"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/agents/{id}/activate":
    put:
      operationId: "PUT_api_agents_id_activate"
      tags:
        - "agents"
      summary: "PUT /api/agents/:id/activate"
      x-source: "src/routes/agent-routes.ts:44"
      x-express-path: "/api/agents/:id/activate"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/agents/active":
    get:
      operationId: "GET_api_agents_active"
      tags:
        - "agents"
      summary: "GET /api/agents/active"
      x-source: "src/routes/agent-routes.ts:84"
      x-express-path: "/api/agents/active"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/analytics/agents":
    get:
      operationId: "GET_api_analytics_agents"
      tags:
        - "analytics"
      summary: "GET /api/analytics/agents"
      x-source: "src/routes/compliance-routes.ts:56"
      x-express-path: "/api/analytics/agents"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/appointments":
    get:
      operationId: "GET_api_appointments"
      tags:
        - "appointments"
      summary: "GET /api/appointments"
      x-source: "src/routes/calendar-routes.ts:32"
      x-express-path: "/api/appointments"
      security:
        - WorkspaceBearerAuth: []
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
    post:
      operationId: "POST_api_appointments"
      tags:
        - "appointments"
      summary: "POST /api/appointments"
      x-source: "src/routes/calendar-routes.ts:106"
      x-express-path: "/api/appointments"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/appointments/{id}":
    get:
      operationId: "GET_api_appointments_id"
      tags:
        - "appointments"
      summary: "GET /api/appointments/:id"
      x-source: "src/routes/calendar-routes.ts:70"
      x-express-path: "/api/appointments/:id"
      security:
        - WorkspaceBearerAuth: []
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
    patch:
      operationId: "PATCH_api_appointments_id"
      tags:
        - "appointments"
      summary: "PATCH /api/appointments/:id"
      x-source: "src/routes/calendar-routes.ts:84"
      x-express-path: "/api/appointments/:id"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/auth/google/config":
    get:
      operationId: "GET_api_auth_google_config"
      tags:
        - "auth"
      summary: "GET /api/auth/google/config"
      x-source: "src/routes/auth-routes.ts:42"
      x-express-path: "/api/auth/google/config"
      security: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/auth/google/exchange":
    post:
      operationId: "POST_api_auth_google_exchange"
      tags:
        - "auth"
      summary: "POST /api/auth/google/exchange"
      x-source: "src/routes/auth-routes.ts:56"
      x-express-path: "/api/auth/google/exchange"
      security: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/billing/portal":
    post:
      operationId: "POST_api_billing_portal"
      tags:
        - "billing"
      summary: "POST /api/billing/portal"
      x-source: "src/routes/buyer-routes.ts:951"
      x-express-path: "/api/billing/portal"
      security: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/calendar/events":
    get:
      operationId: "GET_api_calendar_events"
      tags:
        - "calendar"
      summary: "GET /api/calendar/events"
      x-source: "src/routes/calendar-routes.ts:170"
      x-express-path: "/api/calendar/events"
      security:
        - WorkspaceBearerAuth: []
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/calendar/test-booking":
    post:
      operationId: "POST_api_calendar_test_booking"
      tags:
        - "calendar"
      summary: "POST /api/calendar/test-booking"
      x-source: "src/routes/calendar-routes.ts:121"
      x-express-path: "/api/calendar/test-booking"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/calendly/config":
    get:
      operationId: "GET_api_calendly_config"
      tags:
        - "calendly"
      summary: "GET /api/calendly/config"
      x-source: "src/routes/calendly-routes.ts:126"
      x-express-path: "/api/calendly/config"
      security:
        - WorkspaceBearerAuth: []
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/calendly/webhook":
    post:
      operationId: "POST_api_calendly_webhook"
      tags:
        - "calendly"
      summary: "POST /api/calendly/webhook"
      x-source: "src/routes/calendly-routes.ts:12"
      x-express-path: "/api/calendly/webhook"
      security: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/call-intelligence":
    get:
      operationId: "GET_api_call_intelligence"
      tags:
        - "call-intelligence"
      summary: "GET /api/call-intelligence"
      x-source: "src/routes/dashboard-routes.ts:89"
      x-express-path: "/api/call-intelligence"
      security:
        - WorkspaceBearerAuth: []
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/calls":
    delete:
      operationId: "DELETE_api_calls"
      tags:
        - "calls"
      summary: "DELETE /api/calls"
      x-source: "src/routes/call-routes.ts:146"
      x-express-path: "/api/calls"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
    get:
      operationId: "GET_api_calls"
      tags:
        - "calls"
      summary: "GET /api/calls"
      x-source: "src/routes/call-routes.ts:47"
      x-express-path: "/api/calls"
      security:
        - WorkspaceBearerAuth: []
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
    post:
      operationId: "POST_api_calls"
      tags:
        - "calls"
      summary: "POST /api/calls"
      x-source: "src/routes/outbound-call-routes.ts:88"
      x-express-path: "/api/calls"
      security:
        - WorkspaceBearerAuth: []
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/calls/{callSid}/messages":
    get:
      operationId: "GET_api_calls_callSid_messages"
      tags:
        - "calls"
      summary: "GET /api/calls/:callSid/messages"
      x-source: "src/routes/call-routes.ts:222"
      x-express-path: "/api/calls/:callSid/messages"
      security:
        - WorkspaceBearerAuth: []
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/calls/{sid}":
    delete:
      operationId: "DELETE_api_calls_sid"
      tags:
        - "calls"
      summary: "DELETE /api/calls/:sid"
      x-source: "src/routes/call-routes.ts:111"
      x-express-path: "/api/calls/:sid"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/calls/{sid}/recording":
    get:
      operationId: "GET_api_calls_sid_recording"
      tags:
        - "calls"
      summary: "GET /api/calls/:sid/recording"
      x-source: "src/routes/call-routes.ts:271"
      x-express-path: "/api/calls/:sid/recording"
      security:
        - WorkspaceBearerAuth: []
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/calls/{sid}/reprocess":
    post:
      operationId: "POST_api_calls_sid_reprocess"
      tags:
        - "calls"
      summary: "POST /api/calls/:sid/reprocess"
      x-source: "src/routes/call-routes.ts:122"
      x-express-path: "/api/calls/:sid/reprocess"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/calls/{sid}/transcript":
    get:
      operationId: "GET_api_calls_sid_transcript"
      tags:
        - "calls"
      summary: "GET /api/calls/:sid/transcript"
      x-source: "src/routes/call-routes.ts:241"
      x-express-path: "/api/calls/:sid/transcript"
      security:
        - WorkspaceBearerAuth: []
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/calls/active":
    get:
      operationId: "GET_api_calls_active"
      tags:
        - "calls"
      summary: "GET /api/calls/active"
      x-source: "src/routes/call-routes.ts:203"
      x-express-path: "/api/calls/active"
      security:
        - WorkspaceBearerAuth: []
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/calls/fix-stale":
    patch:
      operationId: "PATCH_api_calls_fix_stale"
      tags:
        - "calls"
      summary: "PATCH /api/calls/fix-stale"
      x-source: "src/routes/call-routes.ts:87"
      x-express-path: "/api/calls/fix-stale"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
    post:
      operationId: "POST_api_calls_fix_stale"
      tags:
        - "calls"
      summary: "POST /api/calls/fix-stale"
      x-source: "src/routes/call-routes.ts:82"
      x-express-path: "/api/calls/fix-stale"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/campaigns":
    get:
      operationId: "GET_api_campaigns"
      tags:
        - "campaigns"
      summary: "GET /api/campaigns"
      x-source: "src/routes/lead-routes.ts:488"
      x-express-path: "/api/campaigns"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
    post:
      operationId: "POST_api_campaigns"
      tags:
        - "campaigns"
      summary: "POST /api/campaigns"
      x-source: "src/routes/lead-routes.ts:505"
      x-express-path: "/api/campaigns"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/campaigns/{id}/launch":
    post:
      operationId: "POST_api_campaigns_id_launch"
      tags:
        - "campaigns"
      summary: "POST /api/campaigns/:id/launch"
      x-source: "src/routes/lead-routes.ts:523"
      x-express-path: "/api/campaigns/:id/launch"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/chat":
    post:
      operationId: "POST_api_chat"
      tags:
        - "chat"
      summary: "POST /api/chat"
      x-source: "src/routes/lead-routes.ts:442"
      x-express-path: "/api/chat"
      security:
        - WorkspaceBearerAuth: []
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/chat/debug-context":
    get:
      operationId: "GET_api_chat_debug_context"
      tags:
        - "chat"
      summary: "GET /api/chat/debug-context"
      x-source: "src/routes/lead-routes.ts:478"
      x-express-path: "/api/chat/debug-context"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/checkout/create":
    post:
      operationId: "POST_api_checkout_create"
      tags:
        - "checkout"
      summary: "POST /api/checkout/create"
      x-source: "src/routes/buyer-routes.ts:782"
      x-express-path: "/api/checkout/create"
      security: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/compliance/audit":
    get:
      operationId: "GET_api_compliance_audit"
      tags:
        - "compliance"
      summary: "GET /api/compliance/audit"
      x-source: "src/routes/compliance-routes.ts:41"
      x-express-path: "/api/compliance/audit"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/compliance/check":
    post:
      operationId: "POST_api_compliance_check"
      tags:
        - "compliance"
      summary: "POST /api/compliance/check"
      x-source: "src/routes/compliance-routes.ts:48"
      x-express-path: "/api/compliance/check"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/compliance/dnc":
    get:
      operationId: "GET_api_compliance_dnc"
      tags:
        - "compliance"
      summary: "GET /api/compliance/dnc"
      x-source: "src/routes/compliance-routes.ts:20"
      x-express-path: "/api/compliance/dnc"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
    post:
      operationId: "POST_api_compliance_dnc"
      tags:
        - "compliance"
      summary: "POST /api/compliance/dnc"
      x-source: "src/routes/compliance-routes.ts:26"
      x-express-path: "/api/compliance/dnc"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/compliance/dnc/{phone}":
    delete:
      operationId: "DELETE_api_compliance_dnc_phone"
      tags:
        - "compliance"
      summary: "DELETE /api/compliance/dnc/:phone"
      x-source: "src/routes/compliance-routes.ts:34"
      x-express-path: "/api/compliance/dnc/:phone"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/config-status":
    get:
      operationId: "GET_api_config_status"
      tags:
        - "config-status"
      summary: "GET /api/config-status"
      x-source: "src/routes/settings-routes.ts:285"
      x-express-path: "/api/config-status"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/contacts":
    get:
      operationId: "GET_api_contacts"
      tags:
        - "contacts"
      summary: "GET /api/contacts"
      x-source: "src/routes/contact-routes.ts:18"
      x-express-path: "/api/contacts"
      security:
        - WorkspaceBearerAuth: []
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
    post:
      operationId: "POST_api_contacts"
      tags:
        - "contacts"
      summary: "POST /api/contacts"
      x-source: "src/routes/contact-routes.ts:87"
      x-express-path: "/api/contacts"
      security:
        - WorkspaceBearerAuth: []
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/contacts/{id}":
    delete:
      operationId: "DELETE_api_contacts_id"
      tags:
        - "contacts"
      summary: "DELETE /api/contacts/:id"
      x-source: "src/routes/contact-routes.ts:125"
      x-express-path: "/api/contacts/:id"
      security:
        - WorkspaceBearerAuth: []
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
    get:
      operationId: "GET_api_contacts_id"
      tags:
        - "contacts"
      summary: "GET /api/contacts/:id"
      x-source: "src/routes/contact-routes.ts:108"
      x-express-path: "/api/contacts/:id"
      security:
        - WorkspaceBearerAuth: []
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
    patch:
      operationId: "PATCH_api_contacts_id"
      tags:
        - "contacts"
      summary: "PATCH /api/contacts/:id"
      x-source: "src/routes/contact-routes.ts:229"
      x-express-path: "/api/contacts/:id"
      security:
        - WorkspaceBearerAuth: []
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/contacts/{id}/detail":
    get:
      operationId: "GET_api_contacts_id_detail"
      tags:
        - "contacts"
      summary: "GET /api/contacts/:id/detail"
      x-source: "src/routes/contact-routes.ts:144"
      x-express-path: "/api/contacts/:id/detail"
      security:
        - WorkspaceBearerAuth: []
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/contacts/{id}/dnc":
    delete:
      operationId: "DELETE_api_contacts_id_dnc"
      tags:
        - "contacts"
      summary: "DELETE /api/contacts/:id/dnc"
      x-source: "src/routes/contact-routes.ts:271"
      x-express-path: "/api/contacts/:id/dnc"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
    post:
      operationId: "POST_api_contacts_id_dnc"
      tags:
        - "contacts"
      summary: "POST /api/contacts/:id/dnc"
      x-source: "src/routes/contact-routes.ts:258"
      x-express-path: "/api/contacts/:id/dnc"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/contacts/{id}/fields":
    put:
      operationId: "PUT_api_contacts_id_fields"
      tags:
        - "contacts"
      summary: "PUT /api/contacts/:id/fields"
      x-source: "src/routes/contact-routes.ts:287"
      x-express-path: "/api/contacts/:id/fields"
      security:
        - WorkspaceBearerAuth: []
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/debug/tts":
    post:
      operationId: "POST_api_debug_tts"
      tags:
        - "debug"
      summary: "POST /api/debug/tts"
      x-source: "src/routes/debug-routes.ts:20"
      x-express-path: "/api/debug/tts"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/demo":
    post:
      operationId: "POST_api_demo"
      tags:
        - "demo"
      summary: "POST /api/demo"
      x-source: "src/routes/demo-routes.ts:71"
      x-express-path: "/api/demo"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/demo/outbound-call":
    post:
      operationId: "POST_api_demo_outbound_call"
      tags:
        - "demo"
      summary: "POST /api/demo/outbound-call"
      x-source: "src/routes/demo-routes.ts:39"
      x-express-path: "/api/demo/outbound-call"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/demo/sample-hot-lead":
    post:
      operationId: "POST_api_demo_sample_hot_lead"
      tags:
        - "demo"
      summary: "POST /api/demo/sample-hot-lead"
      x-source: "src/routes/demo-routes.ts:67"
      x-express-path: "/api/demo/sample-hot-lead"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/events":
    get:
      operationId: "GET_api_events"
      tags:
        - "events"
      summary: "GET /api/events"
      x-source: "src/routes/proof-routes.ts:24"
      x-express-path: "/api/events"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/field-definitions":
    get:
      operationId: "GET_api_field_definitions"
      tags:
        - "field-definitions"
      summary: "GET /api/field-definitions"
      x-source: "src/routes/contact-routes.ts:312"
      x-express-path: "/api/field-definitions"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
    post:
      operationId: "POST_api_field_definitions"
      tags:
        - "field-definitions"
      summary: "POST /api/field-definitions"
      x-source: "src/routes/contact-routes.ts:318"
      x-express-path: "/api/field-definitions"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/field-definitions/{key}":
    delete:
      operationId: "DELETE_api_field_definitions_key"
      tags:
        - "field-definitions"
      summary: "DELETE /api/field-definitions/:key"
      x-source: "src/routes/contact-routes.ts:330"
      x-express-path: "/api/field-definitions/:key"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/first-dollar-readiness":
    get:
      operationId: "GET_api_first_dollar_readiness"
      tags:
        - "first-dollar-readiness"
      summary: "GET /api/first-dollar-readiness"
      x-source: "src/routes/buyer-routes.ts:702"
      x-express-path: "/api/first-dollar-readiness"
      security: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/handoffs":
    get:
      operationId: "GET_api_handoffs"
      tags:
        - "handoffs"
      summary: "GET /api/handoffs"
      x-source: "src/routes/operations-routes.ts:14"
      x-express-path: "/api/handoffs"
      security:
        - WorkspaceBearerAuth: []
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/handoffs/{id}/acknowledge":
    post:
      operationId: "POST_api_handoffs_id_acknowledge"
      tags:
        - "handoffs"
      summary: "POST /api/handoffs/:id/acknowledge"
      x-source: "src/routes/operations-routes.ts:45"
      x-express-path: "/api/handoffs/:id/acknowledge"
      security:
        - WorkspaceBearerAuth: []
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/health":
    get:
      operationId: "GET_api_health"
      tags:
        - "health"
      summary: "GET /api/health"
      x-source: "src/routes/buyer-routes.ts:698"
      x-express-path: "/api/health"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/integrations/crm":
    get:
      operationId: "GET_api_integrations_crm"
      tags:
        - "integrations"
      summary: "GET /api/integrations/crm"
      x-source: "src/routes/integrations-routes.ts:75"
      x-express-path: "/api/integrations/crm"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/integrations/crm/test":
    post:
      operationId: "POST_api_integrations_crm_test"
      tags:
        - "integrations"
      summary: "POST /api/integrations/crm/test"
      x-source: "src/routes/integrations-routes.ts:85"
      x-express-path: "/api/integrations/crm/test"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/integrations/webhook":
    get:
      operationId: "GET_api_integrations_webhook"
      tags:
        - "integrations"
      summary: "GET /api/integrations/webhook"
      x-source: "src/routes/integrations-routes.ts:39"
      x-express-path: "/api/integrations/webhook"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/integrations/webhook/deliveries":
    get:
      operationId: "GET_api_integrations_webhook_deliveries"
      tags:
        - "integrations"
      summary: "GET /api/integrations/webhook/deliveries"
      x-source: "src/routes/integrations-routes.ts:62"
      x-express-path: "/api/integrations/webhook/deliveries"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/integrations/webhook/test":
    post:
      operationId: "POST_api_integrations_webhook_test"
      tags:
        - "integrations"
      summary: "POST /api/integrations/webhook/test"
      x-source: "src/routes/integrations-routes.ts:50"
      x-express-path: "/api/integrations/webhook/test"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/invite/{token}":
    get:
      operationId: "GET_api_invite_token"
      tags:
        - "invite"
      summary: "GET /api/invite/:token"
      x-source: "src/routes/buyer-routes.ts:1096"
      x-express-path: "/api/invite/:token"
      security: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/invite/{token}/accept":
    post:
      operationId: "POST_api_invite_token_accept"
      tags:
        - "invite"
      summary: "POST /api/invite/:token/accept"
      x-source: "src/routes/buyer-routes.ts:1124"
      x-express-path: "/api/invite/:token/accept"
      security: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/launch/approvals/{approvalId}":
    get:
      operationId: "GET_api_launch_approvals_approvalId"
      tags:
        - "launch"
      summary: "GET /api/launch/approvals/:approvalId"
      x-source: "src/routes/telegram-approval-routes.ts:238"
      x-express-path: "/api/launch/approvals/:approvalId"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/launch/approvals/prepare":
    post:
      operationId: "POST_api_launch_approvals_prepare"
      tags:
        - "launch"
      summary: "POST /api/launch/approvals/prepare"
      x-source: "src/routes/telegram-approval-routes.ts:199"
      x-express-path: "/api/launch/approvals/prepare"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/launch/events":
    post:
      operationId: "POST_api_launch_events"
      tags:
        - "launch"
      summary: "POST /api/launch/events"
      x-source: "src/routes/launch-routes.ts:151"
      x-express-path: "/api/launch/events"
      security: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/launch/ledger":
    get:
      operationId: "GET_api_launch_ledger"
      tags:
        - "launch"
      summary: "GET /api/launch/ledger"
      x-source: "src/routes/launch-routes.ts:266"
      x-express-path: "/api/launch/ledger"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
    post:
      operationId: "POST_api_launch_ledger"
      tags:
        - "launch"
      summary: "POST /api/launch/ledger"
      x-source: "src/routes/launch-routes.ts:294"
      x-express-path: "/api/launch/ledger"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/launch/ledger/{id}":
    patch:
      operationId: "PATCH_api_launch_ledger_id"
      tags:
        - "launch"
      summary: "PATCH /api/launch/ledger/:id"
      x-source: "src/routes/launch-routes.ts:321"
      x-express-path: "/api/launch/ledger/:id"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/launch/summary":
    get:
      operationId: "GET_api_launch_summary"
      tags:
        - "launch"
      summary: "GET /api/launch/summary"
      x-source: "src/routes/launch-routes.ts:206"
      x-express-path: "/api/launch/summary"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/launch/telegram-approval/webhook":
    post:
      operationId: "POST_api_launch_telegram_approval_webhook"
      tags:
        - "launch"
      summary: "POST /api/launch/telegram-approval/webhook"
      x-source: "src/routes/telegram-approval-routes.ts:254"
      x-express-path: "/api/launch/telegram-approval/webhook"
      security: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/leads":
    get:
      operationId: "GET_api_leads"
      tags:
        - "leads"
      summary: "GET /api/leads"
      x-source: "src/routes/lead-routes.ts:83"
      x-express-path: "/api/leads"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
    post:
      operationId: "POST_api_leads"
      tags:
        - "leads"
      summary: "POST /api/leads"
      x-source: "src/routes/lead-routes.ts:65"
      x-express-path: "/api/leads"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/leads/alerts":
    get:
      operationId: "GET_api_leads_alerts"
      tags:
        - "leads"
      summary: "GET /api/leads/alerts"
      x-source: "src/routes/lead-routes.ts:322"
      x-express-path: "/api/leads/alerts"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/leads/funnel":
    get:
      operationId: "GET_api_leads_funnel"
      tags:
        - "leads"
      summary: "GET /api/leads/funnel"
      x-source: "src/routes/lead-routes.ts:113"
      x-express-path: "/api/leads/funnel"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/leads/personalize":
    post:
      operationId: "POST_api_leads_personalize"
      tags:
        - "leads"
      summary: "POST /api/leads/personalize"
      x-source: "src/routes/lead-routes.ts:312"
      x-express-path: "/api/leads/personalize"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/leads/scoreboard":
    get:
      operationId: "GET_api_leads_scoreboard"
      tags:
        - "leads"
      summary: "GET /api/leads/scoreboard"
      x-source: "src/routes/lead-routes.ts:189"
      x-express-path: "/api/leads/scoreboard"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/leads/search/apollo":
    post:
      operationId: "POST_api_leads_search_apollo"
      tags:
        - "leads"
      summary: "POST /api/leads/search/apollo"
      x-source: "src/routes/lead-routes.ts:44"
      x-express-path: "/api/leads/search/apollo"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/leads/search/maps":
    post:
      operationId: "POST_api_leads_search_maps"
      tags:
        - "leads"
      summary: "POST /api/leads/search/maps"
      x-source: "src/routes/lead-routes.ts:54"
      x-express-path: "/api/leads/search/maps"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/leads/upsert":
    post:
      operationId: "POST_api_leads_upsert"
      tags:
        - "leads"
      summary: "POST /api/leads/upsert"
      x-source: "src/routes/lead-routes.ts:97"
      x-express-path: "/api/leads/upsert"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/logs":
    get:
      operationId: "GET_api_logs"
      tags:
        - "logs"
      summary: "GET /api/logs"
      x-source: "src/routes/settings-routes.ts:64"
      x-express-path: "/api/logs"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/mcp":
    get:
      operationId: "GET_api_mcp"
      tags:
        - "mcp"
      summary: "GET /api/mcp"
      x-source: "src/routes/integrations-routes.ts:144"
      x-express-path: "/api/mcp"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
    post:
      operationId: "POST_api_mcp"
      tags:
        - "mcp"
      summary: "POST /api/mcp"
      x-source: "src/routes/integrations-routes.ts:149"
      x-express-path: "/api/mcp"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/mcp-servers":
    get:
      operationId: "GET_api_mcp_servers"
      tags:
        - "mcp-servers"
      summary: "GET /api/mcp-servers"
      x-source: "src/routes/integrations-routes.ts:190"
      x-express-path: "/api/mcp-servers"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
    post:
      operationId: "POST_api_mcp_servers"
      tags:
        - "mcp-servers"
      summary: "POST /api/mcp-servers"
      x-source: "src/routes/integrations-routes.ts:193"
      x-express-path: "/api/mcp-servers"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/mcp-servers/{id}":
    delete:
      operationId: "DELETE_api_mcp_servers_id"
      tags:
        - "mcp-servers"
      summary: "DELETE /api/mcp-servers/:id"
      x-source: "src/routes/integrations-routes.ts:199"
      x-express-path: "/api/mcp-servers/:id"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
    put:
      operationId: "PUT_api_mcp_servers_id"
      tags:
        - "mcp-servers"
      summary: "PUT /api/mcp-servers/:id"
      x-source: "src/routes/integrations-routes.ts:196"
      x-express-path: "/api/mcp-servers/:id"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/mcp/{id}":
    delete:
      operationId: "DELETE_api_mcp_id"
      tags:
        - "mcp"
      summary: "DELETE /api/mcp/:id"
      x-source: "src/routes/integrations-routes.ts:165"
      x-express-path: "/api/mcp/:id"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
    put:
      operationId: "PUT_api_mcp_id"
      tags:
        - "mcp"
      summary: "PUT /api/mcp/:id"
      x-source: "src/routes/integrations-routes.ts:158"
      x-express-path: "/api/mcp/:id"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/mcp/{id}/test":
    post:
      operationId: "POST_api_mcp_id_test"
      tags:
        - "mcp"
      summary: "POST /api/mcp/:id/test"
      x-source: "src/routes/integrations-routes.ts:170"
      x-express-path: "/api/mcp/:id/test"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/openclaw/active-calls":
    get:
      operationId: "GET_api_openclaw_active_calls"
      tags:
        - "openclaw"
      summary: "GET /api/openclaw/active-calls"
      x-source: "src/routes/operator-routes.ts:226"
      x-express-path: "/api/openclaw/active-calls"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/openclaw/inject":
    post:
      operationId: "POST_api_openclaw_inject"
      tags:
        - "openclaw"
      summary: "POST /api/openclaw/inject"
      x-source: "src/routes/operator-routes.ts:191"
      x-express-path: "/api/openclaw/inject"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/openclaw/status":
    get:
      operationId: "GET_api_openclaw_status"
      tags:
        - "openclaw"
      summary: "GET /api/openclaw/status"
      x-source: "src/routes/operator-routes.ts:150"
      x-express-path: "/api/openclaw/status"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/openclaw/test":
    post:
      operationId: "POST_api_openclaw_test"
      tags:
        - "openclaw"
      summary: "POST /api/openclaw/test"
      x-source: "src/routes/operator-routes.ts:174"
      x-express-path: "/api/openclaw/test"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/operator/session":
    get:
      operationId: "GET_api_operator_session"
      tags:
        - "operator"
      summary: "GET /api/operator/session"
      x-source: "src/routes/operator-routes.ts:101"
      x-express-path: "/api/operator/session"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/plugin-tools":
    get:
      operationId: "GET_api_plugin_tools"
      tags:
        - "plugin-tools"
      summary: "GET /api/plugin-tools"
      x-source: "src/routes/integrations-routes.ts:177"
      x-express-path: "/api/plugin-tools"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
    post:
      operationId: "POST_api_plugin_tools"
      tags:
        - "plugin-tools"
      summary: "POST /api/plugin-tools"
      x-source: "src/routes/integrations-routes.ts:180"
      x-express-path: "/api/plugin-tools"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/plugin-tools/{id}":
    delete:
      operationId: "DELETE_api_plugin_tools_id"
      tags:
        - "plugin-tools"
      summary: "DELETE /api/plugin-tools/:id"
      x-source: "src/routes/integrations-routes.ts:186"
      x-express-path: "/api/plugin-tools/:id"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
    put:
      operationId: "PUT_api_plugin_tools_id"
      tags:
        - "plugin-tools"
      summary: "PUT /api/plugin-tools/:id"
      x-source: "src/routes/integrations-routes.ts:183"
      x-express-path: "/api/plugin-tools/:id"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/pricing":
    get:
      operationId: "GET_api_pricing"
      tags:
        - "pricing"
      summary: "GET /api/pricing"
      x-source: "src/routes/buyer-routes.ts:755"
      x-express-path: "/api/pricing"
      security: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/prospecting/campaigns":
    get:
      operationId: "GET_api_prospecting_campaigns"
      tags:
        - "prospecting"
      summary: "GET /api/prospecting/campaigns"
      x-source: "src/routes/prospecting-routes.ts:54"
      x-express-path: "/api/prospecting/campaigns"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
    post:
      operationId: "POST_api_prospecting_campaigns"
      tags:
        - "prospecting"
      summary: "POST /api/prospecting/campaigns"
      x-source: "src/routes/prospecting-routes.ts:62"
      x-express-path: "/api/prospecting/campaigns"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/prospecting/campaigns/{id}":
    get:
      operationId: "GET_api_prospecting_campaigns_id"
      tags:
        - "prospecting"
      summary: "GET /api/prospecting/campaigns/:id"
      x-source: "src/routes/prospecting-routes.ts:70"
      x-express-path: "/api/prospecting/campaigns/:id"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/prospecting/campaigns/{id}/auto-dial/start":
    post:
      operationId: "POST_api_prospecting_campaigns_id_auto_dial_start"
      tags:
        - "prospecting"
      summary: "POST /api/prospecting/campaigns/:id/auto-dial/start"
      x-source: "src/routes/prospecting-routes.ts:264"
      x-express-path: "/api/prospecting/campaigns/:id/auto-dial/start"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/prospecting/campaigns/{id}/auto-dial/status":
    get:
      operationId: "GET_api_prospecting_campaigns_id_auto_dial_status"
      tags:
        - "prospecting"
      summary: "GET /api/prospecting/campaigns/:id/auto-dial/status"
      x-source: "src/routes/prospecting-routes.ts:328"
      x-express-path: "/api/prospecting/campaigns/:id/auto-dial/status"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/prospecting/campaigns/{id}/auto-dial/stop":
    post:
      operationId: "POST_api_prospecting_campaigns_id_auto_dial_stop"
      tags:
        - "prospecting"
      summary: "POST /api/prospecting/campaigns/:id/auto-dial/stop"
      x-source: "src/routes/prospecting-routes.ts:320"
      x-express-path: "/api/prospecting/campaigns/:id/auto-dial/stop"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/prospecting/campaigns/{id}/dial-next":
    post:
      operationId: "POST_api_prospecting_campaigns_id_dial_next"
      tags:
        - "prospecting"
      summary: "POST /api/prospecting/campaigns/:id/dial-next"
      x-source: "src/routes/prospecting-routes.ts:242"
      x-express-path: "/api/prospecting/campaigns/:id/dial-next"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/prospecting/campaigns/{id}/leads":
    post:
      operationId: "POST_api_prospecting_campaigns_id_leads"
      tags:
        - "prospecting"
      summary: "POST /api/prospecting/campaigns/:id/leads"
      x-source: "src/routes/prospecting-routes.ts:120"
      x-express-path: "/api/prospecting/campaigns/:id/leads"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/prospecting/campaigns/{id}/search":
    post:
      operationId: "POST_api_prospecting_campaigns_id_search"
      tags:
        - "prospecting"
      summary: "POST /api/prospecting/campaigns/:id/search"
      x-source: "src/routes/prospecting-routes.ts:133"
      x-express-path: "/api/prospecting/campaigns/:id/search"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/prospecting/campaigns/{id}/status":
    patch:
      operationId: "PATCH_api_prospecting_campaigns_id_status"
      tags:
        - "prospecting"
      summary: "PATCH /api/prospecting/campaigns/:id/status"
      x-source: "src/routes/prospecting-routes.ts:100"
      x-express-path: "/api/prospecting/campaigns/:id/status"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/prospecting/leads":
    get:
      operationId: "GET_api_prospecting_leads"
      tags:
        - "prospecting"
      summary: "GET /api/prospecting/leads"
      x-source: "src/routes/prospecting-routes.ts:110"
      x-express-path: "/api/prospecting/leads"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/prospecting/leads/{id}":
    patch:
      operationId: "PATCH_api_prospecting_leads_id"
      tags:
        - "prospecting"
      summary: "PATCH /api/prospecting/leads/:id"
      x-source: "src/routes/prospecting-routes.ts:170"
      x-express-path: "/api/prospecting/leads/:id"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/prospecting/leads/{id}/sequence":
    delete:
      operationId: "DELETE_api_prospecting_leads_id_sequence"
      tags:
        - "prospecting"
      summary: "DELETE /api/prospecting/leads/:id/sequence"
      x-source: "src/routes/prospecting-routes.ts:354"
      x-express-path: "/api/prospecting/leads/:id/sequence"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
    get:
      operationId: "GET_api_prospecting_leads_id_sequence"
      tags:
        - "prospecting"
      summary: "GET /api/prospecting/leads/:id/sequence"
      x-source: "src/routes/prospecting-routes.ts:344"
      x-express-path: "/api/prospecting/leads/:id/sequence"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/prospecting/sequence-templates":
    get:
      operationId: "GET_api_prospecting_sequence_templates"
      tags:
        - "prospecting"
      summary: "GET /api/prospecting/sequence-templates"
      x-source: "src/routes/prospecting-routes.ts:364"
      x-express-path: "/api/prospecting/sequence-templates"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/prospecting/sequences/stats":
    get:
      operationId: "GET_api_prospecting_sequences_stats"
      tags:
        - "prospecting"
      summary: "GET /api/prospecting/sequences/stats"
      x-source: "src/routes/prospecting-routes.ts:335"
      x-express-path: "/api/prospecting/sequences/stats"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/provision/workspace":
    post:
      operationId: "POST_api_provision_workspace"
      tags:
        - "provision"
      summary: "POST /api/provision/workspace"
      x-source: "src/routes/provisioning-routes.ts:861"
      x-express-path: "/api/provision/workspace"
      security:
        - WorkspaceBearerAuth: []
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/provisioning/checkout-activation-evidence/{checkoutSessionId}":
    get:
      operationId: "GET_api_provisioning_checkout_activation_evidence_checkoutSessionId"
      tags:
        - "provisioning"
      summary: "GET /api/provisioning/checkout-activation-evidence/:checkoutSessionId"
      x-source: "src/routes/provisioning-routes.ts:983"
      x-express-path: "/api/provisioning/checkout-activation-evidence/:checkoutSessionId"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/provisioning/checkout-status":
    post:
      operationId: "POST_api_provisioning_checkout_status"
      tags:
        - "provisioning"
      summary: "POST /api/provisioning/checkout-status"
      x-source: "src/routes/provisioning-routes.ts:569"
      x-express-path: "/api/provisioning/checkout-status"
      security: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/provisioning/request":
    post:
      operationId: "POST_api_provisioning_request"
      tags:
        - "provisioning"
      summary: "POST /api/provisioning/request"
      x-source: "src/routes/provisioning-routes.ts:170"
      x-express-path: "/api/provisioning/request"
      security: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/provisioning/requests":
    get:
      operationId: "GET_api_provisioning_requests"
      tags:
        - "provisioning"
      summary: "GET /api/provisioning/requests"
      x-source: "src/routes/provisioning-routes.ts:1257"
      x-express-path: "/api/provisioning/requests"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/provisioning/resend-invite":
    post:
      operationId: "POST_api_provisioning_resend_invite"
      tags:
        - "provisioning"
      summary: "POST /api/provisioning/resend-invite"
      x-source: "src/routes/provisioning-routes.ts:826"
      x-express-path: "/api/provisioning/resend-invite"
      security: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/public-proof-snapshot":
    get:
      operationId: "GET_api_public_proof_snapshot"
      tags:
        - "public-proof-snapshot"
      summary: "GET /api/public-proof-snapshot"
      x-source: "src/routes/proof-routes.ts:59"
      x-express-path: "/api/public-proof-snapshot"
      security: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/recordings/{sid}/audio":
    get:
      operationId: "GET_api_recordings_sid_audio"
      tags:
        - "recordings"
      summary: "GET /api/recordings/:sid/audio"
      x-source: "src/routes/call-routes.ts:305"
      x-express-path: "/api/recordings/:sid/audio"
      security:
        - WorkspaceBearerAuth: []
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/recovery/{callSid}/call-back":
    post:
      operationId: "POST_api_recovery_callSid_call_back"
      tags:
        - "recovery"
      summary: "POST /api/recovery/:callSid/call-back"
      x-source: "src/routes/recovery-routes.ts:124"
      x-express-path: "/api/recovery/:callSid/call-back"
      security:
        - WorkspaceBearerAuth: []
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/recovery/{callSid}/close":
    post:
      operationId: "POST_api_recovery_callSid_close"
      tags:
        - "recovery"
      summary: "POST /api/recovery/:callSid/close"
      x-source: "src/routes/recovery-routes.ts:169"
      x-express-path: "/api/recovery/:callSid/close"
      security:
        - WorkspaceBearerAuth: []
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/recovery/direct-dial":
    post:
      operationId: "POST_api_recovery_direct_dial"
      tags:
        - "recovery"
      summary: "POST /api/recovery/direct-dial"
      x-source: "src/routes/recovery-routes.ts:190"
      x-express-path: "/api/recovery/direct-dial"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/recovery/queue":
    get:
      operationId: "GET_api_recovery_queue"
      tags:
        - "recovery"
      summary: "GET /api/recovery/queue"
      x-source: "src/routes/recovery-routes.ts:36"
      x-express-path: "/api/recovery/queue"
      security:
        - WorkspaceBearerAuth: []
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/recovery/stats":
    get:
      operationId: "GET_api_recovery_stats"
      tags:
        - "recovery"
      summary: "GET /api/recovery/stats"
      x-source: "src/routes/recovery-routes.ts:218"
      x-express-path: "/api/recovery/stats"
      security:
        - WorkspaceBearerAuth: []
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/scheduled/monthly-usage-reset":
    post:
      operationId: "POST_api_scheduled_monthly_usage_reset"
      tags:
        - "scheduled"
      summary: "POST /api/scheduled/monthly-usage-reset"
      x-source: "src/routes/admin-maintenance-routes.ts:419"
      x-express-path: "/api/scheduled/monthly-usage-reset"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/settings":
    get:
      operationId: "GET_api_settings"
      tags:
        - "settings"
      summary: "GET /api/settings"
      x-source: "src/routes/settings-routes.ts:72"
      x-express-path: "/api/settings"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
    post:
      operationId: "POST_api_settings"
      tags:
        - "settings"
      summary: "POST /api/settings"
      x-source: "src/routes/settings-routes.ts:104"
      x-express-path: "/api/settings"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/settings/groups":
    get:
      operationId: "GET_api_settings_groups"
      tags:
        - "settings"
      summary: "GET /api/settings/groups"
      x-source: "src/routes/settings-routes.ts:55"
      x-express-path: "/api/settings/groups"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/settings/test/{service}":
    post:
      operationId: "POST_api_settings_test_service"
      tags:
        - "settings"
      summary: "POST /api/settings/test/:service"
      x-source: "src/routes/settings-routes.ts:132"
      x-express-path: "/api/settings/test/:service"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/sms/incoming":
    post:
      operationId: "POST_api_sms_incoming"
      tags:
        - "sms"
      summary: "POST /api/sms/incoming"
      x-source: "src/routes/sms-routes.ts:103"
      x-express-path: "/api/sms/incoming"
      security: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/sms/safety":
    get:
      operationId: "GET_api_sms_safety"
      tags:
        - "sms"
      summary: "GET /api/sms/safety"
      x-source: "src/routes/sms-routes.ts:42"
      x-express-path: "/api/sms/safety"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/sms/status":
    post:
      operationId: "POST_api_sms_status"
      tags:
        - "sms"
      summary: "POST /api/sms/status"
      x-source: "src/routes/sms-routes.ts:121"
      x-express-path: "/api/sms/status"
      security: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/sms/test":
    post:
      operationId: "POST_api_sms_test"
      tags:
        - "sms"
      summary: "POST /api/sms/test"
      x-source: "src/routes/sms-routes.ts:73"
      x-express-path: "/api/sms/test"
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/stats":
    get:
      operationId: "GET_api_stats"
      tags:
        - "stats"
      summary: "GET /api/stats"
      x-source: "src/routes/dashboard-routes.ts:15"
      x-express-path: "/api/stats"
      security:
        - WorkspaceBearerAuth: []
        - ApiKeyAuth: []
      responses:
        "200":
          description: Success response. Body shape is implemented in the route handler.
        "400":
          description: Bad request or validation failure.
        "401":
          description: Authentication required or invalid credentials.
        "500":
          description: Server error.
  "/api/stripe/webhook":
    post:
      operationId: "POST_api_stripe_webhook"
      tags:
        - "stripe"
      summary: "POST /api/stripe/webhook"
      x-source: "src/routes/buyer-routes.ts:1007"
      x-express-path: "/api/stripe/webhook"
      security: []
      responses:
[...]
